<<<<<<< HEAD
<footer>
    <p style="margin-top: 20px;">&copy; 2025 Blood Donation App</p>
=======
<footer>
    <p style="margin-top: 20px;">&copy; 2025 Blood Donation App</p>
>>>>>>> 4c5af07 (Added Docker File)
</footer>